<div class="jumbotron">
  <h1>Presence</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">availability</th>
        <th scope="col">activity</th>
      </tr>
    </thead>
    <tbody>
      {{!-- {{#each events}} --}}
        <tr>
          <td>{{presence.id}}</td>
          <td>{{presence.availability}}</td>
          <td>{{presence.activity}}</td>
        </tr>
      {{!-- {{/each}} --}}
    </tbody>
  </table>
</div>