body {
  padding-top: 4.5rem;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.presence {
  position: absolute;
  top: 29px;
  left: 29px;
  border: 2px solid #343a41;

}
